<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">My Site</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Genres">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Authors">Authors</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Author' user.id %}">
                        <img src="{{ user.image.url }}" alt="{{ user.username }}" style="width: 30px; height: 30px; border-radius: 50%;">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Author' user.id %}">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <form method="POST" id="logout" action="{% url 'logout' %}?next={{ request.path }}">
                        {% csrf_token %}
                        <a href="#" class="nav-link" onclick="document.getElementById('logout').submit()">Logout</a>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <img src="{{ music.image.url }}" alt="{{ music.name }} ">
    <h1> {{ music.name }}</h1>
    <h2>By {{ author.name }}</h2>
    <audio controls src="{{ music.audioTrack.url }}"></audio>   
</body>
</html>